

<div class="alert alert-warning" *ngIf='message'>{{message}}</div>


<div class="table-responsive">
    <h1>Beer List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Abv</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let beer of beers">
                <td>{{beer.id}}</td>
                <td>{{beer.name}}</td>
                <td>{{beer.abv}}</td>
                <td><button (click)="updateBeer(beer.id)" class="btn btn-warning">Edit</button>&nbsp;|&nbsp;<button (click)="deleteBeer(beer.id)" class="btn btn-success">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <button (click)="addBeer()" class="btn btn-success">Add</button>
    </div>
</div>